* {
    font-size: 16px;
    color: #fbf1c7;
}

#waybar {
    background-color: #333333;
}

#workspaces button {
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#workspaces button.focused label {
    color: #f7df00;
}

#workspaces button.urgent label {
    color: #ff8c00;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray * {
    margin: 0 5px;
}

.modules-right:last-child {
    margin-right: 5px;
}

#pulseaudio {
    min-width: 30px;
}
